@charset "utf-8";
/* content */
#content 
{   
    background: #f3f3f3;     
 }
#content .content-title
{
    /* font-size: 60px; */
    line-height: 70px;
    font-weight: bold;
}
#content .content-info
{
    margin-top: 30px;
    line-height: 30px;
    /* font-size: 25px; */
}
#contentText
{ 
    padding: 120px 50px;    
}

/* platform */
#platform
{ 
    padding: 120px 50px;
    margin: 0 auto;     
    max-width: 1440px;
    box-sizing: border-box;    
}

#platform ul
{ 
    margin-top: -8%;
}

#platform .platform-icon
 {
    display: inline-block;
    width: 90px; height: 90px;
    padding-bottom: 30px;
    background: 90px 90px; background-repeat: no-repeat;
 }
#platform .platform-icon img 
{ width: 100%; height: 100%; }

#platform .platform-item
{ 
    position: relative;
    display: inline-block;
    padding: 40px 30px 30px;
    width: calc(33.333% - 36px); height: 420px; max-width: 320px;    
    background-color: #fff;
    vertical-align: middle;
    /* font-size: 17px; */
    box-sizing: border-box;
    border-radius: 15px;
 }
 
#platform .platform-item:nth-child(2),
#platform .platform-item:nth-child(3)
{ margin-left: 35px; }

#platform .platform-btn
{ 
    position: absolute; right: 60px; bottom: 30px; left: 60px;
    line-height: 50px;
    display: inline-block;
    border-radius: 25px;
    background-color: #5c46ff;
    /* font-size: 17px;  */
    color: #fff; font-weight: bold;
}

/* image2 */
#image2
{ 
    margin: 0 auto;
    width: 100%; height: 100vh;      
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;    
 }
#image2 .content-title
{
    /* font-size: 60px; */
    line-height: 70px;
    font-weight: bold;    
}
#image2 .content-info
{
    
    margin-top: 30px;
    line-height: 30px;
    /* font-size: 25px; */
}

#image2Text 
{
    padding: 100px 50px;
    justify-content: center;  
}

#image2 #charName
{     
    width: 100%;
    margin-top: 350px;     
    position: absolute;
    display: flex; flex-direction: column;     
    
 }

 #image2 #charName li 
 { display: flex;
    justify-content: center;
    align-items: center;
 }
.charProfile
{ 
    position: relative; 
    display: inline-block;
    width: 320px; height: 320px;
    margin-left: 35px;
    /* border: 1px solid #000; */

 }
 .charProfile img 
 { 
    width: 320px; height: 320px; 
    position: relative;

}

.charProfile dt 
{ 
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px
 }

 .charProfile dd
{ 
    display: block;
    margin-top: 4px;
    font-size: 17px;
    line-height: 24px;
    color: #5c5c61;
 }

 /* 1024px 미만 */
 @media (max-width: 1023px) 
 {
    /* content */
    #platform
    {
        position: relative;
        display: block;
        text-align: left;        
        
    }
    #platform .platform-item
    { 
        display: flex;
        align-items: center;       
        padding: 52px 104px 52px 156px;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    #platform .platform-item:nth-child(2),
    #platform .platform-item:nth-child(3)
    { 
        margin-top: 40px;
        margin-left: 0px;
     }

    #platform .platform-icon
    { 
        margin-left: -100px; margin-right: 30px;
        margin-top: 40px;
        width: 100px; height: 100px;
        padding-bottom: 30px;
        background: 100px 100px; background-repeat: no-repeat;
        
     }
    #platform h3 { font-size: 28px; line-height: 50px; }

    #platform .platform-btn
    { height: 0; width: 0; }


    /* image2 */
    #image2 
    {
        margin: 0 auto;
        width: 100%;     
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        overflow: hidden;
        position: relative; 
    }

    #image2 #charName
    { 
        width: 100%;
        margin-top: 500px;     
        position: absolute;
        
        
     }
   
 }