@charset "utf-8";

/* section 5 */

    #video2 {margin: 0 auto; padding: 0; position: relative; overflow: hidden;
        background-color: #f8f8fa;
            }
            
        #video2 h2{
            /* font-size:56px ;  */
                    position: relative; top: 50px;  text-align: center; width: 100%;
                    background-color: #f8f8fa;}
        #video2 p{ 
            /* font-size: 22px;  */
            position: relative; top: 75px; text-align: center; width: 100%;background-color: #f8f8fa;}
        #video2 div{max-width: 1128px; margin: 0 auto;}
        video { width: 100%; height: 80vh; position:relative ; margin-top: 80px; -webkit-mask-image: -webkit-radial-gradient(white, black);}
        #video2::before { content: ""; position: absolute; top: 0; left: 0;
                            width: 100%; height: 100%;
                            background: rgba(f8,f8,f8,0.1);  }

    /* section6 */
     #zepetoJoin{ width: 100%; height: 100vh; margin: 0 auto; overflow: hidden; padding-bottom: 200px; 
                text-align: center;}
     #zepetoJoin h2{
        /* font-size: 56px;  */
        padding-top: 100px; text-align: center;}
     #zepetoJoin p{
        /* font-size: 22px;  */
        padding-top: 10px; 
                text-align: center; }
     #zepetoJoin a{ display: inline-block; font-size :20px; color: #fff;  font-weight: 500;
                    background: #5c46ff; padding:0 34px; 
                    border-radius: 28px; height: 56px;  margin-top:40px; line-height: 56px;
                     }


     #zepetoJoinList{max-width: 1184px; margin:80px auto 0;  background-color: #f8f8fa; border-radius: 16px; 
                           text-align: center; }
     #zepetoJoinList ol{ display: flex; padding: 56px 48px;}
     #zepetoJoinList ol li{ position: relative; display:inline-block; margin: 0 auto;  vertical-align: top; 
        
        width: calc(33% - 55px);}
        .number{display: inline-block; font-size: 22px; font-weight: 700;height: 40px;width: 40px;
                line-height: 38px; background-color: #F0F0F0; border-radius: 50%; text-align: center;}
        #zepetoJoinList ol li h3{ margin-top: 22px; font-size: 22px;}
        #zepetoJoinList ol li p{ font-size: 17px;}
        .right{display: block; position: absolute; width: 28px;height: 28px;top: 100px; 
            left: -45px;
        }
